.home {
    --bd-tan: #bfad8aff;

    .bd-masthead {
        padding: 3rem 0;
        background-color: #f2ede4ff;
    }

    .btn-bd-primary {
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-tan);
        --bs-btn-border-color: var(--bd-tan);
        --bs-btn-border-radius: .5rem;
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #8c7b23ff;
        --bs-btn-hover-border-color: #8c7b23ff;
        --bs-btn-focus-shadow-rgb: var(--bd-tan-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #8c7b23ff;
        --bs-btn-active-border-color: #8c7b23ff;
    }
}

.navbar {
    @extend .navbar-dark;

    padding: .75rem 0;
    background-color: #154001ff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.15);
}